* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #F5F5F5;
}

header {
    height: 75px;
    top: 0;
    right: 0;
    width: 100%;
    align-items: center;
    display: flex;
    padding: 0px 50px 0px 124px;
    background-color: #FFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
}

nav{
    display: flex;
    background-color: rgb(255, 255, 255);
    height: 40px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

nav img {
    width: 75px;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

nav ul li {
    margin: 0px 7px;
}

nav ul li a {
    color: #757575;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 17px;
}

nav ul li a.txt {
    color: #299E63;
}

main .hero-container {
    width: 100%;
    background-color: #F5F5F5;
    height: 224px;
    margin: 80px 0 80px;
    padding-left: 124px;
    align-items: center;
    position: relative;
}

main .hero-section {
    width: 650px;
    padding: 0px 0px;

}

.hero-head {
    font-size: 44px;
    font-weight: 700;
    color: #0A0A0A;
}

.hero-description {
    color: #757575;
    padding-top: 24px;
    font-size: 16px;
    letter-spacing: -0.011em;
    text-align: justify;
}

.text-color {
    color: #299E63;
}

main .hero-rectangle {
    width: 50px;
    height: 96px;
    background: #299E63;
    left: 0;
    top: 16px;
    position: absolute;
}